/* ESTILO GERAL */
:root {
    --color-background:black;
    --color-txt:#ffffff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(148, 53, 53);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    width: 100%;
}

h2.titulo{
    color: var(--color-txt);
    font-size: 2.5rem;
    text-align: center;
}

span{
    color: rgb(148, 53, 53);
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO CABEÇALHO */
header{
    padding: 2.5rem 4%;
    font-family: "Poppins", sans-serif;
}

header > .interface{
    display: flex;
    justify-content: space-between;
}

header a, h4{
    color: var(--color-txt);
    text-decoration: none;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 2.5rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.menu-desktop a{
    color: var(--color-txt);
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

.menu-desktop a:hover{
    color: rgb(148, 53, 53);
    border-bottom: 3px solid rgb(148, 53, 53);
}

/* ESTILO TOPO SITE */
#inicio{
    padding: 8rem 1%;
}

#inicio .flex{
    align-items: center;
}

#inicio .img-topo-site img {
    width: 25rem;
    height: 22rem;
    border-radius: 50%;
}

.txt-topo-site button {
    color: var(--color-txt);
    padding: 0.625rem;
    border: 2px solid rgb(124, 45, 45);
    border-radius: 1.25rem;
    background: var(--color-background);
    cursor: pointer;
    font-size: 1rem;
    margin: 0.75rem 0.5rem;
    transition: all 0.3s ease;
}

.txt-topo-site button:hover{
    transform: scale(1.25);
    box-shadow: 0 0 1.625rem rgb(148, 53, 53);
    background: rgb(148, 53, 53);
}

.txt-topo-site h1{
    color: var(--color-txt);
    font-size: 4rem;
    font-family: "Archivo", sans-serif;
}

.txt-topo-site h2{
    color: rgb(148, 53, 53);
    font-size: 5rem;
    font-family: "Archivo", sans-serif;
}

.txt-topo-site p{
    color: var(--color-txt);
    font-family: "Archivo", sans-serif;
    padding: 4px;
}

/*SERVIÇOS*/
#servicos {
    padding: 5rem 4%;
    background: #0e0e0e3a;
    color: var(--color-txt);
    justify-content: center;
    text-align: left;
}

#servicos h2{
    margin-bottom: 5rem;
    color: var(--color-txt);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 1.25rem;
    font-family: "Poppins", sans-serif;
    height: 500px;
}

.services-box {
    background-color: rgb(148, 53, 53);
    border-radius: 2.5rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.services-box:hover {
    background: rgb(105, 39, 39);
    border: 5px solid rgb(148, 53, 53);
}

.services-info h4 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
    text-align: center;
}

.services-info p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.0;
    text-align: left;
    padding: 0 0.425rem;
}

/* SOBRE */
#sobre {
    padding: 6rem 4%;
    font-family: "Poppins", sans-serif;
    background: #0e0e0e3a;
}

.txt-sobre{
    color: var(--color-txt);
    margin: 1.25rem;
    font-size: 1.25rem;
    padding: 2rem;
}

#sobre .img-sobre img{
    width: 25rem;
    height: 22rem;
    border-radius: 50%;
}

/* MEUS PROJETOS */
#projetos{ 
    padding: 8rem 4%;
    font-family: "Poppins", sans-serif;
}

.box-projeto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    place-items: center;
    gap: 3rem;
    margin: 2rem 0 0 0;
}

.card-projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    border: 4px solid rgb(148, 53, 53);
    border-radius: 3rem;
    gap: 1.25rem;
    padding: 5rem 2rem;
    box-shadow: 0 0 5px rgb(148, 53, 53);
    color: var(--color-txt);
    transition: 0.6s;
}

.card-projeto:hover {
    box-shadow: 0 0 25px rgb(148, 53, 53);
}

.card-projeto img {
    max-width: 350px;
    border-radius: 2em;
    object-fit: cover;
}

.card-projeto h3 {
    font-size: 1.25px;
}

.card-projeto p {
    font-size: 1rem;
}

.btn button {
    background: transparent;
    border-radius: 1.25rem;
    border: 2px solid rgb(148, 53, 53);
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-txt);
    transition: 0.5s;
}

.btn button:hover {
    transform: scale(1.10);
    box-shadow: 0 0 12px rgb(124, 45, 45);
    background: rgb(148, 53, 53);
}

.btn button a {
    text-decoration: none;
    color: var(--color-txt);
}

/* CONTATO */
#contato{
    padding: 5rem 4%;
    font-family: "Poppins", sans-serif;
    background: #0e0e0e3a;
}

form{
    max-width: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 2rem;
}

form input, form textarea{
    width: 100%;
    background: transparent;
    outline: 0;
    padding: 1.25rem 1rem;
    border-radius: 1.25rem;
    font-size: 1rem;
    color: var(--color-txt);
    border: 2px solid rgb(148, 53, 53);
    transition: 0.4s ease-in-out;
}

form input:hover {
    transform: scale(1.07);
    box-shadow: 0 0 15px rgb(148, 53, 53);
}

form textarea{
    resize: none;
    height: 200px;
}

form textarea:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px rgb(148, 53, 53);
}

form .btn-enviar{
    margin-top: 1.25rem;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    cursor: pointer;
    transition: 0.5s;
}

form .btn-enviar input:hover{
    transform: scale(1.10);
    box-shadow: 0 0 12px rgb(124, 45, 45);
    background: rgb(148, 53, 53);
}

/* FOOTER */
footer{
    padding: 5rem 4%;
    background-color: #111111;
    color: var(--color-txt);
    font-family: "Poppins", sans-serif;
}

.line-footer1{
    text-align: center;
    border-bottom: 2px solid var(--color-txt);
    padding-bottom: 1.25rem;
}

.line-footer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato{
    display: flex;
    justify-content: center;
}

.btn-footer{
    display: flex;
    justify-content: center;
}

.btn-footer{
    margin: 0.625rem;
    gap: 1rem;
}

.btn-footer button{
    background: transparent;
    color: var(--color-txt);
    border: 2px solid rgb(124, 45, 45);
    border-radius: 1.25rem;
    cursor: pointer;
    padding: 6px;
    font-size: 12px;
    transition: all 0.3s ease;
}

.btn-footer button:hover{
    transform: scale(1.30);
    box-shadow: 0 0 25px rgb(148, 53, 53);
    background-color: rgb(148, 53, 53);
}

@media screen and (max-width:1312px) {
    
}

@media screen and (max-width:890px) {
    nav {
        display: none;
    }

    /* ESTILO TOPO SITE */
    .img-topo-site img {
        width: 250px;
        transition: none;
    }

    .img-topo-site:hover {
        transform: none;
    }

    #inicio .flex{
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    
    .txt-topo-site button{
        margin: 1px 2px;
    }

    .txt-topo-site h1{
        font-size: 30px;
        margin: 0 10px 0 10px;
    }

    .txt-topo-site h2{
        font-size: 34px;
        margin: 0 10px 0 10px;
    }

    .txt-topo-site p{
        margin-left: 10px;
    }

    .txt-topo-site button{
        padding: 7px;
        font-size: 12px;
        margin: 10px 8px 0 10px;    
        margin-top: 12px;
        transition: none;
    }

    .txt-topo-site button:hover{
        transform: none;
        box-shadow: none;
    }

    h2.titulo{
        font-size: 28px;
        text-align: center;
    }

/* SERVIÇOS */
#servicos {
    padding: 40px 4%;
    background: #0e0e0e3a;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    font-family: "Poppins", sans-serif;
    height: 300px;
}

.services-box {
    border: none;
}

.services-box:hover {
    background: rgb(148, 53, 53);
    border: none;
}

.services-info h4 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2;
    text-align: center;
}

.services-info p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.0;
    margin: 0 18px 0 22px;
}

/* SOBRE */
#sobre .flex{
    justify-content: center;
    flex-wrap: wrap;
}

#sobre .img-sobre img{
    width: 300px;
    margin: 2rem;
}

.txt-sobre{
    font-size: 1rem;
    text-align: left;
    margin: 1px 10px 0 10px;
}

/* MEUS PROJETOS */
.box-projeto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    row-gap: 30px;
    margin: 10px 0 0 0;
}

.card-projeto {
    border: 3px solid rgb(148, 53, 53);
    border-radius: 3rem;
    gap: 10px;
    padding: 2rem 1rem;
    box-shadow: none;
    transition: none;
}

.card-projeto:hover {
    box-shadow: none;
}

.card-projeto img {
    max-width: 200px;
    border-radius: 1rem;
}

.card-projeto h3 {
    font-size: 1rem;
}

.card-projeto p {
    font-size: 1rem;
}

.btn button {
    padding: 10px;
    font-size: 10px;
    transition: none;
}

.btn button:hover {
    transform: none;
    box-shadow: none;
}

/* PROJETOS */
.img-pj{
    width: 380px;
    height: 300px;
    background-color: rgb(124, 45, 45);
}

/* CONTATO */
form{
    max-width: 350px;
}

::placeholder{
    font-size: 13px;
}

form .btn-enviar input {
    transition: none;
}

form .btn-enviar input:hover{
    transform: none;
    box-shadow: none;
}

/* FOOTER */
.btn-footer button {
    transition: none;
}

.btn-footer button:hover{
    transform: none;
    box-shadow: none;
    background-color: #111111;
}
}

@media screen and (max-width:440px) {
    nav{
        display: none;
    }

/* ESTILO TOPO SITE */
    #inico {
        padding: 2rem 4%;
    }

    #inicio .img-topo-site img {
        width: 22rem;
        height: 22rem;
        margin-bottom: 4rem;
    }

    
    .txt-topo-site button{
        margin: 1px 2px;
    }

    .txt-topo-site h1{
        font-size: 30px;
        margin: 0 10px 0 10px;
    }

    .txt-topo-site h2{
        font-size: 34px;
        margin: 0 10px 0 10px;
    }

    .txt-topo-site p{
        margin-left: 10px;
    }

    .txt-topo-site button{
        padding: 7px;
        font-size: 12px;
        margin: 10px 8px 0 10px;    
        margin-top: 12px;
        transition: none;
    }

    .txt-topo-site button:hover{
        transform: none;
        box-shadow: none;
    }

    h2.titulo{
        font-size: 28px;
        text-align: center;
    }

/* SERVIÇOS */
#servicos {
    padding: 40px 4%;
    background: #0e0e0e3a;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    font-family: "Poppins", sans-serif;
    height: 300px;
}

.services-box {
    border: none;
}

.services-box:hover {
    background: rgb(148, 53, 53);
    border: none;
}

.services-info h4 {
    font-size: 30px;
    font-weight: 800;
    line-height: 2;
    text-align: center;
}

.services-info p {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.0;
    margin: 0 18px 0 22px;
}

/* SOBRE */
#sobre {
    padding: 5rem 4%
}

#sobre .img-sobre img{
    width: 22rem;
    height: 22rem;
}

.txt-sobre{
    font-size: 12px;
    text-align: left;
    margin: 1px 10px 0 10px;
}

/* MEUS PROJETOS */
.box-projeto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    row-gap: 30px;
    margin: 10px 0 0 0;
}

.card-projeto {
    border: 3px solid rgb(148, 53, 53);
    border-radius: 40px;
    gap: 10px;
    padding: 32px 16px;
    box-shadow: none;
    transition: none;
}

.card-projeto:hover {
    box-shadow: none;
}

.card-projeto img {
    max-width: 200px;
    border-radius: 16px;
}

.card-projeto h3 {
    font-size: 20px;
}

.card-projeto p {
    font-size: 15px;
}

.btn button {
    padding: 10px;
    font-size: 10px;
    transition: none;
}

.btn button:hover {
    transform: none;
    box-shadow: none;
}

/* PROJETOS */
.img-pj{
    width: 380px;
    height: 300px;
    background-color: rgb(124, 45, 45);
}

/* CONTATO */
form{
    max-width: 350px;
}

::placeholder{
    font-size: 13px;
}

form .btn-enviar input {
    transition: none;
}

form .btn-enviar input:hover{
    transform: none;
    box-shadow: none;
}

/* FOOTER */
.btn-footer button {
    transition: none;
}

.btn-footer button:hover{
    transform: none;
    box-shadow: none;
    background-color: #111111;
}
}

@media screen and (max-width:393px) {
    nav{
        display: none;
    }

/* ESTILO TOPO SITE */
#inicio{
    padding: 4rem 1%;
}

    #inicio .img-topo-site img {
        width: 20rem;
        height: 20rem;
        margin-bottom: 4rem;
    }

    
    .txt-topo-site button{
        margin: 1px 2px;
    }

    .txt-topo-site h1{
        font-size: 1.56rem;
        margin: 0 10px 0 10px;
    }

    .txt-topo-site h2{
        font-size: 34px;
        margin: 0 10px 0 10px;
    }

    .txt-topo-site p{
        margin-left: 10px;
    }

    .txt-topo-site button{
        padding: 7px;
        font-size: 12px;
        margin: 10px 8px 0 10px;    
        margin-top: 12px;
        transition: none;
    }

    .txt-topo-site button:hover{
        transform: none;
        box-shadow: none;
    }

    h2.titulo{
        font-size: 28px;
        text-align: center;
    }

/* SERVIÇOS */
#servicos {
    padding: 40px 4%;
    background: #0e0e0e3a;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    font-family: "Poppins", sans-serif;
    height: 300px;
}

.services-box {
    border: none;
}

.services-box:hover {
    background: rgb(148, 53, 53);
    border: none;
}

.services-info h4 {
    font-size: 30px;
    font-weight: 800;
    line-height: 2;
    text-align: center;
}

.services-info p {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.0;
    margin: 0 12px 0 12px;
}

/* SOBRE */
#sobre {
    padding: 5rem 4%;
}

#sobre .img-sobre img{
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
}

/* MEUS PROJETOS */
.box-projeto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    row-gap: 30px;
    margin: 10px 0 0 0;
}

.card-projeto {
    border: 3px solid rgb(148, 53, 53);
    border-radius: 40px;
    gap: 10px;
    padding: 32px 16px;
    box-shadow: none;
    transition: none;
}

.card-projeto:hover {
    box-shadow: none;
}

.card-projeto img {
    max-width: 200px;
    border-radius: 16px;
}

.card-projeto h3 {
    font-size: 20px;
}

.card-projeto p {
    font-size: 10px;
}

.btn button {
    padding: 10px;
    font-size: 10px;
    transition: none;
}

.btn button:hover {
    transform: none;
    box-shadow: none;
}

/* CONTATO */
form{
    max-width: 300px;
}

::placeholder{
    font-size: 13px;
}

form .btn-enviar input{
    width: 100px;
    font-size: 15px;
    transition: none;
}

form .btn-enviar input:hover{
    transform: none;
    box-shadow: none;
}

/* FOOTER */
.btn-footer button {
    transition: none;
}

.btn-footer button:hover{
    transform: none;
    box-shadow: none;
    background-color: #111111;
}
}

@media screen and (max-width:365px) {
    nav{
        display: none;
    }

/* ESTILO TOPO SITE */
#inicio{
    padding: 2rem 4%;
}

    .img-topo-site img {
        width: 160px;
        transition: none;
    }

    #inicio .flex{
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    
    .txt-topo-site button{
        margin: 1px 2px;
    }

    .txt-topo-site h1{
        font-size: 26px;
        margin: 0 12px 0 12px;
    }

    .txt-topo-site h2{
        font-size: 28px;
        margin: 0 12px 0 12px;
    }

    .txt-topo-site p{
        margin: 0 0 0 10px;
        font-size: 13px;
    }

    .txt-topo-site button{
        padding: 7px;
        font-size: 10px;
        margin: 10px 2px 20px 12px;
        transition: none;
    }

    .txt-topo-site button:hover{
        transform: none;
        box-shadow: none;
    }

    h2.titulo{
        font-size: 24px;
        text-align: center;
    }

/* SERVIÇOS */
#servicos {
    padding: 2.5rem 4%;
    background: #0e0e0e3a;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    font-family: "Poppins", sans-serif;
    height: 300px;
}

.services-box {
    border: none;
}

.services-box:hover {
    background: rgb(148, 53, 53);
    border: none;
}

.services-info h4 {
    font-size: 23px;
    font-weight: 800;
    line-height: 2;
    text-align: center;
}

.services-info p {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.0;
    margin: 0 12px 0 12px;
}

/* SOBRE */
    #sobre {
        padding: 4rem 4%;
    }

    #sobre .img-sobre img{
        width: 300px;
        margin: 30px;
    }

    .txt-sobre{
        font-size: 12px;
        text-align: left;
        margin: 1px 10px 0 10px;
    }

/* MEUS PROJETOS */
.box-projeto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    row-gap: 16px;
    margin: 22px 0 0 0;
}   

.card-projeto {
    border: 1px solid rgb(148, 53, 53);
    border-radius: 30px;
    gap: 7px;
    padding: 25px 12px;
    box-shadow: none;
    transition: none;
}

.card-projeto:hover {
    box-shadow: none;
}

.card-projeto img {
    max-width: 160px;
    border-radius: 10px;
}

.card-projeto h3 {
    font-size: 15px;
}

.card-projeto p {
    font-size: 7px;
}

.btn button {
    padding: 8px;
    font-size: 7px;
    transition: none;
}

.btn button:hover {
    transform: none;
    box-shadow: none;
}

/* CONTATO */
form{
    max-width: 280px;
}

::placeholder{
    font-size: 13px;
}

form .btn-enviar input{
    width: 80px;
    font-size: 11px;
    transition: none;
}

form .btn-enviar input:hover{
    transform: none;
    box-shadow: none;
}

/* FOOTER */
.btn-footer button {
    transition: none;
}

.btn-footer button:hover{
    transform: none;
    box-shadow: none;
    background-color: #111111;
}
}

@media screen and (max-width:350px) {
    nav{
        display: none;
    }

/* ESTILO TOPO SITE */
    #inicio .img-topo-site img {
        width: 160px;
        transition: none;
    }

    .img-topo-site:hover {
        transform: none;
    }

    #inicio .flex{
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    
    .txt-topo-site button{
        margin: 1px 2px;
    }

    .txt-topo-site h1{
        font-size: 26px;
        margin: 0 12px 0 12px;
    }

    .txt-topo-site h2{
        font-size: 28px;
        margin: 0 12px 0 12px;
    }

    .txt-topo-site p{
        margin: 0 0 0 10px;
        font-size: 13px;
    }

    .txt-topo-site button{
        padding: 7px;
        font-size: 10px;
        margin: 10px 2px 20px 5px;    
    }

    .txt-topo-site button:hover{
        transform: none;
        transition: none;
        box-shadow: none;
    }

    h2.titulo{
        font-size: 24px;
        text-align: center;
    }

/* SERVIÇOS */
#servicos {
    padding: 100px 4%;
    background: #0e0e0e3a;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    font-family: "Poppins", sans-serif;
    height: 300px;
}

.services-box {
    border: none;
}

.services-box:hover {
    background: rgb(148, 53, 53);
    border: none;
}

.services-info h4 {
    font-size: 23px;
    font-weight: 800;
    line-height: 2;
    text-align: center;
}

.services-info p {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.0;
    margin: 0 12px 0 12px;
}

/* SOBRE */
    #sobre .flex{
        justify-content: center;
        flex-wrap: wrap;
    }

    #sobre .img-sobre img{
        width: 300px;
        margin: 30px;
    }

    .txt-sobre{
        font-size: 12px;
        text-align: left;
        margin: 1px 10px 0 10px;
    }

/* MEUS PROJETOS */
.box-projeto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    row-gap: 16px;
    margin: 22px 0 0 0;
}   

.card-projeto {
    border: 1px solid rgb(148, 53, 53);
    border-radius: 30px;
    gap: 7px;
    padding: 25px 12px;
    box-shadow: none;
    transition: none;
}

.card-projeto:hover {
    box-shadow: none;
}

.card-projeto img {
    max-width: 160px;
    border-radius: 10px;
}

.card-projeto h3 {
    font-size: 15px;
}

.card-projeto p {
    font-size: 10px;
}

.btn button {
    padding: 8px;
    font-size: 7px;
    transition: none;
}

.btn button:hover {
    transform: none;
    box-shadow: none;
}

/* CONTATO */
form{
    max-width: 280px;
}

::placeholder{
    font-size: 13px;
}

form .btn-enviar input{
    width: 80px;
    font-size: 11px;
    transition: none;
}

form .btn-enviar input:hover{
    transform: none;
    box-shadow: none;
}

/* FOOTER */
.btn-footer button {
    transition: none;
}

.btn-footer button:hover{
    transform: none;
    box-shadow: none;
    background-color: #111111;
}
}