@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    width: 100%;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #fff;
    text-decoration: none;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.menu-desktop a{
    color: #ffffff;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.menu-desktop a:hover, .menu-desktop a:active{
    color: rgb(148, 53, 53);
    border-bottom: 3px solid rgb(148, 53, 53);
}

/* ESTILO TOPO SITE */
main img {
    width: 300px;
    height: 350px;
    border-radius: 50%;
}

section.topo-site{
    padding: 170px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: space-between;
}

.txt-topo-site button{
    color: #fff;
    padding: 10px;  
    border: 2px solid rgb(124, 45, 45);
    border-radius: 20px;
    background: none;
    cursor: pointer;
    font-size: 13px;
    margin: 5px 5px;    
    margin-top: 12px;
}

.txt-topo-site button:hover{
    transform: scale(1.25);
    transition: 0.3s;
    box-shadow: 0 0 25px rgb(148, 53, 53);
    background-color: rgb(148, 53, 53);
}

.txt-topo-site h3{
    color: #ffffff;
    font-family: "Archivo", sans-serif;
}

.txt-topo-site h1{
    color: #fff;
    font-size: 40px;
    font-family: "Archivo", sans-serif;
}

.txt-topo-site h2{
    color: rgb(148, 53, 53);
    font-size: 50px;
    font-family: "Archivo", sans-serif;
}

.txt-topo-site p{
    color: #fff;
    font-family: "Archivo", sans-serif;
    padding: 4px;
}

h2.titulo{
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.img-topo-site:hover {
    transform: scale(1.10);
    box-shadow: 10px 10px 10px 30px #461313;
    transition: 0.4s ease-in-out;
}

span{
    color: rgb(148, 53, 53);
}

/* MINHAS ESPECIALIDADES*/
.services {
    padding: 80px 4%;
    background: #0e0e0e3a;
    color: #ffffff;
    justify-content: center;
    text-align: left;
}

.services h2{
    margin-bottom: 5rem;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    font-family: "Poppins", sans-serif;
    height: 300px;
}

.services-box {
    background-color: rgb(148, 53, 53);
    border-radius: 40px;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.services-box:hover {
    background: rgb(73, 27, 27);
    border: 5px solid rgb(148, 53, 53);
}

.services-info h4 {
    font-size: 50px;
    font-weight: 800;
    line-height: 2;
    text-align: center;
}

.services-info p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.0;
    padding: 6px;
}

/* MINHAS SKILS */
section.skils{
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.txt-skils{
    display: flex;
    justify-content: center;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.card{
    border: 5px solid rgb(148, 53, 53);
    border-radius: 20px;
}

.card img:hover{
    transform: scale(1.08);
    transition: 0.3s;
}

/* SOBRE */
section.sobre {
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    background: #0e0e0e3a;
}

.txt-sobre{
    color: #fff;
    margin-top: 20px;
    font-size: 22px;
    padding: 30px;
    margin: 20px;
}

section.sobre .img-sobre img{
    width: 500px;
}

/* MEUS PROJETOS */
section.projetos{
    padding: 80px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

section.projetos .flex{
    justify-content: space-around;
    margin-top: 30px;
}

.img-pj{
    width: 800px;
    height: 460px;
    background-color: rgb(124, 45, 45);
}

/* Contato */

section.formulario{
    padding: 80px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    background: #0e0e0e3a;
}

form{
    max-width: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

form input, form textarea{
    width: 100%;
    background-color: #111111;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 20px;
    font-size: 18px;
    color: #ffffff;
}

form textarea{
    resize: none;
    height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    cursor: pointer;
    background: rgb(148, 53, 53);
}

form .btn-enviar input:hover{
    transform: scale(1.10);
    transition: 0.3s;
    box-shadow: 0 0 12px rgb(124, 45, 45);
}

/* FOOTER */

footer{
    padding: 80px 4%;
    background-color: #111111;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.line-footer1{
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 20px;
}

.line-footer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato{
    display: flex;
    justify-content: center;
}

.btn-footer{
    display: flex;
    justify-content: center;
}

.btn-footer{
    margin-top: 10px;
    gap: 15px;
}

.btn-footer button{
    background: transparent;
    color: #ffffff;
    border: 2px solid rgb(124, 45, 45);
    border-radius: 20px;
    cursor: pointer;
    padding: 6px;
    font-size: 12px;
}

.btn-footer button:hover{
    transform: scale(1.30);
    transition: 0.3s;
    box-shadow: 0 0 25px rgb(148, 53, 53);
    background-color: rgb(148, 53, 53);
    color: #000000;
}

@media screen and (max-width:1312px) {
    
}

@media screen and (max-width:440px) {
    
}

@media screen and (max-width:393px) {
    header{
        display: none;
    }

/* ESTILO TOPO SITE */
    section.topo-site .flex{
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    
    .txt-topo-site h1{
        font-size: 30px;
    }

    .txt-topo-site h2{
        font-size: 34px;
        font-family: "Archivo", sans-serif;
    }

    .txt-topo-site button{
        padding: 7px;
        font-size: 12px;
        margin: 5px 5px;    
        margin-top: 12px;
    }

    .txt-topo-site button:hover{
        transform: none;
        transition: none;
        box-shadow: none;
        background-color: black;
        color: #ffffff;
    }

    h2.titulo{
        color: #fff;
        font-size: 28px;
        text-align: center;
    }

/* MINHAS ESPECIALIDADES */
    .box{
        flex-wrap: wrap;
    }

    section.especialidades .box{
        gap: 1px;
    }

    .especialidades .especialidades-box{
        padding: 10px;
        transition: 0.3s;
        text-align: center;
        margin-top: 40px;
    }

    .especialidades .especialidades-box:hover{
        transform: none;
        box-shadow: none;
    }

    .especialidades .especialidades-box button:hover{
        transform: none;
        box-shadow: none;
        background-color: black;
    }

/* MINHAS SKILS */
    .container{
        margin-top: 20px;
    }

    .card img:hover{
        transform: none;
        transition: none;
    }

/* SOBRE */
    section.sobre .flex{
        justify-content: center;
        flex-wrap: wrap;
    }

    section.sobre .img-sobre img{
        width: 400px;
    }

    .txt-sobre{
        color: #fff;
        margin-top: 1px;
        font-size: 12px;
        padding: 30px;
        margin: 20px;
    }

/* MEUS PROJETOS */
section.projetos .flex{
    justify-content: center;
    flex-wrap: wrap;
}

/* CONTATO */
form{
    max-width: 350px;
}

::placeholder{
    font-size: 13px;
}

form .btn-enviar input:hover{
    transform: none;
    transition: none;
    box-shadow: none;
}

/* FOOTER */
.btn-footer button:hover{
    transform: none;
    transition: none;
    box-shadow: none;
    background-color: #111111;
    color: #ffffff;
}
}