@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    width: 100%;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #fff;
    text-decoration: none;
}

header a:hover{
    color: rgb(148, 53, 53);
    transition: 0.2s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO TOPO SITE */
section.topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: space-between;
}

.txt-topo-site button{
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    background-color: #000000;
    border: 2px inset rgb(124, 45, 45);
    cursor: pointer;
    font-size: 15px;
    margin: 5px 5px;
    margin-top: 12px;
}

.txt-topo-site button:hover{
    transform: scale(1.30);
    transition: 0.3s;
    box-shadow: 0 0 25px rgb(148, 53, 53);
    background-color: rgb(148, 53, 53);
    color: #000000;
}

.txt-topo-site h1{
    color: #fff;
    font-size: 60px;
    font-family: "Archivo", sans-serif;
}

.txt-topo-site h2{
    color: rgb(148, 53, 53);
    font-size: 68px;
    font-family: "Archivo", sans-serif;
}

.txt-topo-site p{
    color: #fff;
    font-family: "Archivo", sans-serif;
    padding: 4px;
}

h2.titulo{
    color: #fff;
    font-size: 40px;
    text-align: center;
    
}

span{
    color: rgb(148, 53, 53);
}


/* MINHAS ESPECIALIDADES*/
section.especialidades{
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.box{
    display: flex;
}

section.especialidades .box{
    gap: 50px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 30px;
    border: 2px solid rgb(124, 45, 45);
    border-radius: 20px;
    margin-top: 45px;
    transition: 0.3s;
    text-align: center;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.01);
    box-shadow: 0 0 15px rgb(148, 53, 53);
}

.especialidades .especialidades-box i{
    color: rgb(148, 53, 53);
    font-size: 45px;
}

.especialidades .especialidades-box h3{
    font-size: 50px;
}

.especialidades .especialidades-box p{
    font-size: 20px;
}

.especialidades .especialidades-box button{
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    background: #000000;
    border: 2px inset rgb(148, 53, 53);
    cursor: pointer;
    transition: 0.3s;
}

.especialidades .especialidades-box button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(148, 53, 53);
    background-color: rgb(148, 53, 53);
    color: #000000;
}

/* MINHAS SKILS */

section.skils{
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.txt-skils{
    display: flex;
    justify-content: center;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.card{
    border: 5px inset rgb(148, 53, 53);
    border-radius: 20px;
}

.card img:hover{
    transform: scale(1.08);
    transition: 0.3s;
}

/* SOBRE */
section.sobre {
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.txt-sobre{
    color: #fff;
    margin-top: 20px;
    font-size: 22px;
    padding: 30px;
    margin: 20px;
}

section.sobre .img-sobre img{
    width: 500px;
}

/* MEUS PROJETOS */
section.projetos{
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.box-pj{
    border: 5px inset rgb(148, 53, 53);
    border-radius: 20px;
    margin-top: 30px;
}

.box-pj h3{
    color: rgb(148, 53, 53);
}

section .box-pj img{
    width: 100px;
    height: 300px;
}